<article id="contact-us" class="container contact-us">
  <header class="row">
    <div class="col-md-12">
      <h2>Contact us</h2>
    </div>
  </header>
  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for :message, url: messages_url, html: { id: "contact-form" } do |f| %>
        <fieldset>
          <legend>We want to hear from you!</legend>
          <div class="contact error-message"></div>
          <div class="input-group">
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, class: "form-control", placeholder: "Email..." %>
          </div>
          <div class="input-group">
            <%= f.label :subject, class: "sr-only" %>
            <%= f.text_field :subject, class: "form-control", placeholder: "Subject..." %>
          </div>
          <div class="input-group">
            <%= f.label :body, "Message", class: "sr-only" %>
            <%= f.text_area :body, class: "form-control", placeholder: "Message..." %>
          </div>
          <div class="input-group">
            <%= f.submit "Send", class: "btn" %>
          </div>
        </fieldset>
      <% end %>
      <div class="contact success-message"></div>
    </div>
  </section>
</article>