<article id="register" class="container">
  <div class="row">
    <div class="col-md-12 register">
      <header>
        <h2>
          Don't miss out!
          <br><br>
          <span class="color-orange">Sign up now</span> to get a place for our private beta version</h2>
          <br>
      </header>
      <%= form_for :user, url: login_url, html: { class: "form-inline", id: "registration-form" } do |f| %>
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, placeholder: "Enter your email address...", class: "form-control" %>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 color-green">
            <%= f.submit "I am talent", id: "talent_submit", class: "btn", name: "talent" %>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 color-blue">
            <%= f.submit "I am a startup", id: "startup_submit", class: "btn", name: "startup" %>
          </div>
        </div>
      <% end %>
      <div class="registration success-message"></div>
      <div class="registration error-message"></div>
    </div>
  </div>
</article>